# Anális de datos de cryptopunks

In [1]:
import pandas as pd
import numpy as np

from datetime import datetime

import requests

import time
import math


import random

In [2]:
df_attr = pd.read_csv('cp_y_attr.csv')
df_tipo = pd.read_csv('cp_y_tipo.csv')
df_transac = pd.read_csv('transacciones.csv')

In [3]:
df_attr = df_attr.iloc[:,1:]
df_attr

       id_cryptopunk  bids  for_sale           attribute
0                  0     1         0             Earring
1                  0     1         0          Blonde Bob
2                  0     1         0    Green Eye Shadow
3                  1     0         0               Smile
4                  1     0         0              Mohawk
...              ...   ...       ...                 ...
15322           5805     0         0         Mohawk Thin
15323           5805     0         0        Shadow Beard
15324           5805     0         0               Frown
15325           5806     0         0          Police Cap
15326           5806     0         0  Horned Rim Glasses

[15327 rows x 4 columns]

In [4]:
df_tipo = df_tipo.iloc[:,1:]
df_tipo

      id_cryptopunk  bids  for_sale   type
0               635     0         1  Alien
1              2890     0         0  Alien
2              3100     0         1  Alien
3              3443     0         0  Alien
4               372     1         0    Ape
...             ...   ...       ...    ...
5798           5800     0         0   Male
5799           5802     0         0   Male
5800           5803     0         0   Male
5801           5805     0         0   Male
5802           5806     0         0   Male

[5803 rows x 4 columns]

In [5]:
df_transac = df_transac.iloc[:,1:]
df_transac

       id_cryptopunk   tipo        tr_type  amount  amount_dols        date
0                635  Alien  Bid Withdrawn    0.00          0.0  2021-12-04
1                635  Alien        Offered    0.00          0.0  2021-11-10
2                635  Alien            Bid    0.00          0.0  2021-11-10
3                635  Alien  Bid Withdrawn    0.09        415.0  2021-11-08
4                635  Alien            Bid    0.09        411.0  2021-11-08
...              ...    ...            ...     ...          ...         ...
99447           5803   Male         (Wrap)    0.00          0.0  2020-09-15
99448           5803   Male       Transfer    0.00          0.0  2020-09-15
99449           5803   Male        Claimed    0.00          0.0  2017-06-23
99450           5805   Male        Claimed    0.00          0.0  2017-06-23
99451           5806   Male        Claimed    0.00          0.0  2017-06-23

[99452 rows x 6 columns]

In [6]:
df_mask = df_transac['id_cryptopunk']==505
filtered_df = df_transac[df_mask]
print(filtered_df)

       id_cryptopunk  tipo        tr_type  amount  amount_dols        date
40405            505  Male           Sold   51.00     160296.0  2021-08-19
40406            505  Male  Bid Withdrawn   44.00     143790.0  2021-08-15
40407            505  Male            Bid   44.00     142623.0  2021-08-15
40408            505  Male  Bid Withdrawn   36.00     116692.0  2021-08-15
40409            505  Male            Bid   36.00     113558.0  2021-08-15
40410            505  Male        Offered   51.00     165320.0  2021-08-14
40411            505  Male  Bid Withdrawn   48.00     146595.0  2021-08-12
40412            505  Male            Bid   48.00     147138.0  2021-08-12
40413            505  Male        Offered   55.00     168125.0  2021-08-12
40414            505  Male           Sold   25.25      45076.0  2021-03-15
40415            505  Male  Bid Withdrawn   23.00      40150.0  2021-03-12
40416            505  Male            Bid   23.00      40736.0  2021-03-12
40417            505  Male        Offered   25.25      46042.0  2021-03-10
40418            505  Male        Offered   50.50      84442.0  2021-03-07
40419            505  Male       Transfer    0.00          0.0  2021-03-06
40420            505  Male       Transfer    0.00          0.0  2021-03-05
40421            505  Male       Transfer    0.00          0.0  2021-02-04
40422            505  Male  Bid Withdrawn    0.60        149.0  2020-06-02
40423            505  Male            Bid    0.60        124.0  2020-05-21
40424            505  Male        Claimed    0.00          0.0  2017-06-23

In [15]:
salet2=df_tipo.loc[df_tipo['id_cryptopunk'], ['type']].value_counts()
salet3=df_tipo.loc[df_tipo['id_cryptopunk'], ['type']].value_counts(normalize=True)
print (salet2,"\n\n", salet3,"\n\n")

KeyError: 'Passing list-likes to .loc or [] with any missing labels is no longer supported, see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike'

In [10]:
df_tipo['id_cryptopunk'], ['tipo']

(0        635
 1       2890
 2       3100
 3       3443
 4        372
         ...
 5798    5800
 5799    5802
 5800    5803
 5801    5805
 5802    5806
 Name: id_cryptopunk, Length: 5803, dtype: int64,
 ['tipo'])